section  {
  padding: 60px 20px;
  max-width: 80vw;
  margin:0px auto ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.photo {
  border: 2px solid #00ffe7;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info{
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > h1{
  margin-left:-60px;
  font-weight: bold;
  font-family: Raleway;
  color:rgb(217, 71, 71); 
  font-size: 2.5rem;
}
.btns{
  font-size: 1.2rem;
  display: flex;
  
  gap: 20px;
  
}
button:hover{
  cursor: pointer;
  color: rgb(217, 71, 71);
}
button{
  border: 2px solid #ecad0d;
  border-radius: 29px;
  padding: 9px;
  margin: 10px;
  color: antiquewhite;
}

