@import "tailwindcss";
body {
  background-color: #121212;
  color: #00ffe7;

  font-family: "Segoe UI", sans-serif;
}
a {
  color: blue;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}


button.download {
  padding: 10px 20px;
  background: #007acc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


